html {
  font-size: 100%;
}

body {

  background-color: white;
  /* Add space outside border: top right bottom left */
  margin: 10% auto 0px auto;
  width: 50rem;
  font-family: Helvetica, sans-serif;
  color: hsl(0, 0%, 20%);
}
p {
  font-size: 1.5em;
}
a {
     color: inherit;
}
